:root {
    --color-red: #BFB49F;
    --font-title: 'Bodoni Moda', serif;
    --font-text: 'Playfair Display', serif;
    --font-text2: 'Open Sans', sans-serif;
}

body {
    background: #000;
    padding: 0;
    margin: 0;
    display: grid;
    color: #fff;
    font-family: var(--font-text)
}

header {
    box-sizing: border-box;
    min-height: 100vh;
    min-width: 100vw;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 50px;
}

h1 {
    font-size: clamp(2rem, 2rem + 6vw, 12rem);
    font-family: var(--font-title);
    background: -webkit-linear-gradient(90deg, #fff, #8C857D, #fff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 22px;
    text-align: center;
    margin: 0 auto;
    line-height: 2;
    max-width: 100%;
}

header hr {
    color: var(--color-red);
    background-color: var(--color-red);
    border: none;
    border-top: 1px solid var(--color-red);
    width: 30%;
}

main>section {
    min-height: 80vh;
    padding: 10%;
    display: grid;
    place-items: center;
}

main h3 {
    font-size: clamp(2rem, 2rem + 0.8vw, 3rem);
}

.pancake {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: stretch;
    gap: 20px;
}

.pancake .box p {
    /* color: #000; */
    text-align: center;
}

.dummy .box {
    flex: 1 1 50px;
    min-height: 150px;
    min-width: 150px;
    display: grid;
    place-items: center;
}

.dummy .delay-200 {
    transition-delay: 200ms;
}

.dummy .delay-400 {
    transition-delay: 400ms;
}

.dummy .delay-600 {
    transition-delay: 600ms;
}

.dummy .delay-800 {
    transition-delay: 800ms;
}

.dummy .box:nth-child(2n) {
    background-color: #8C857D;
    color: #0C0D0C;
}

.dummy .box:nth-child(2n + 1) {
    background-color: #0C0D0C;
    color: #fff;
}

.blurb {
    font-size: 4rem;
    max-width: 20ch;
    font-weight: 200;
}

main section p a {
    color: #fff;
}

.sub-h {
    font-family: var(--font-text2);
    margin-top: 0;
    font-size: 0.9em;
}

@media screen and (max-width: 420px) {
    h1 {
        font-size: clamp(2rem, 2rem + 2vw, 3rem);
    }

    .blurb {
        font-size: 2.2rem;
    }
}

@media (prefers-reduced-motion: no-preference) {
    .hidden {
        opacity: 0;
        filter: blur(5px);
        transform: translateX(-100%);
        transition: opacity 1s, filter 1s, transform 1s;
    }

    .show {
        opacity: 1;
        filter: blur(0);
        transform: translateX(0);
    }
}