:root {
    --color-primary: hsl(214, 35%, 37%);
    --color-primary-alt: hsl(214, 46%, 42%);
    --color-primary-gradient: radial-gradient(circle, var(--color-primary) 0%, var(--color-primary-alt) 100%);
    --color-secondary: rgb(239, 110, 78);
    --color-secondary-alt: hsl(12, 62%, 60%);
    --transparent-white: rgba(255, 255, 255, 0.3);
    --transparent-black: rgba(0, 0, 0, 0.3)
}

body {
    background-color: #fff;
    color: #000;
    max-width: 1300px;
    margin: 0 auto;
    display: grid;
    grid-template-areas:
        'h m m m'
        'a m m m'
        'a m m m'
        'a m m m';
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns: minmax(150px, 1fr) 2fr;
    font-family: 'Raleway';
    font-size: 20px;
    border-inline-end: 2px solid var(--color-primary)
}

header {
    grid-area: h;
    padding: 30px 15px;
    background: var(--color-primary-gradient) fixed;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

main {
    grid-area: m;
    padding: 50px 30px;
    display: flex;
    flex-direction: column; 
    align-items: stretch;
    justify-content: space-evenly;
}

aside {
    background: var(--color-primary-gradient) fixed;
    grid-area: a;
    padding: 0 15px;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

aside section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

h1,
h3,
h4,
h5,
h6 {
    font-family: 'Libre Franklin';
    letter-spacing: 1.5px;
}

h1 {
    font-size: 60px !important;
    max-width: 10ch;
}

h2 {
    font-size: 28px;
    letter-spacing: 1.5px;
}

h3 {
    background-color: var(--transparent-black);
    padding: 10px;
    font-size: 26px;
}

aside h4 {
    font-size: 24px;
}

ul {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    row-gap: 20px;
}

li {
    display: grid;
    grid-template-columns: 50px 1fr;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

div.social-icons {
    border-radius: 50px;
    padding: 30px 20px 20px;
    display: flex;
    justify-content: center;
    align-items: stretch;
    gap: 20px;
}

div.social-icons a {
    flex: 1 1 50px;
    display: grid;
    place-items: center;
}

div.social-icons a img {
    transition: all ease-in-out 0.4s;
    min-height: 50px;
}

div.social-icons a:hover img {
    transform: scale(1.1);
}

ul.skill-bars {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-around;
    row-gap: 20px;
    margin: 30px 0;
    padding: 0;
}

.skill-bars li {
    display: grid;
    grid-template-columns: 55px 1fr;
    align-items: center;
    justify-content: center;
}


.skill-bars div.bar-wrap {
    height: 30px;
    overflow: hidden;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    box-sizing: border-box;
    padding: 5px;
    background-color: var(--transparent-black);
}

.skill-bars li div.bar {
    background-color: #fff;
}

li.medium div.bar {
    grid-column: span 2;
}

li.intermediate div.bar {
    grid-column: span 3;
}

li.high div.bar {
    grid-column: span 4;
}

li.advanced div.bar {
    grid-column: span 5;
}

.skill-bars li img {
    margin: 0 auto;
    max-width: 50px;
    max-height: 50px;
}

.skill-bars p {
    font-family: 'Libre Franklin';
    font-size: 0.8em;
}

.personal-info>div:not(:last-child) {
    padding-inline-start: 10%;
}

.personal-info>div:not(:last-child) p {
    padding-inline-start: 10%;
}

.work-exp,
.education {
    display: grid;
    grid-template-columns: 1fr 4fr;
    align-items: center;
}

.work-exp > div, .education > div {
    margin: 30px 0;
}

.work-exp div > *, .education div:nth-child(2n) > * {
    margin: 10px !important;
}

dl#papers, dl#thesis {
    font-size: 0.65em;
    padding: 0;
}

/* Utilities */
.pancake {
    display: flex;
    flex-flow: row wrap;
    align-items: stretch;
    justify-content: center;
}

.pancake .box {
    flex: 1 1 300px
}
